{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block content %}
    <container-fluid class=" ">
        <container class="vh-100">
            <div class="row justify-content-center align-items-center" style="height: 100vh">
                <div class="row">
                    <div class="col-12 text-center mb-2">
                        <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid" style="height: 250px">
                    </div>
                    <div class="col-12 login_block">
                        <div class="mb-3 fs-1 text-center">Welcome to myCompany</div>
                        <form method="post" class="text-center">
                            {% csrf_token %}
                            <div class="mb-3 text-center fs-4">
                                <label for="id_username" class="form-label">Username:</label>
                                {{ form.username }}
                            </div>
                            <div class="mb-3 text-center fs-4">
                                <label for="id_password" class="form-label">Password:</label>
                                {{ form.password }}
                            </div>
                            <button type="submit" class="btn main_btn">Login</button>
                        </form>
                    </div>
                </div>
        </container>
    </container-fluid>

{% endblock %}
