{% extends 'base.html' %}
{% load static %}
{% block title %}Emloyee Delete{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3 text-center">
                    <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid" style="height: 50px">
                </div>
                <div class="col-12 mt-3 mb-3">
                    <a class="btn main_btn_white main_btn_back mr3" href="{% url 'index' %}">Main</a>
                </div>
                <div class="col-12 mb-3">
                    <h1>Delete Employee</h1>
                    <p>Are you sure you want to delete this employee?</p>
                    <form method="post">
                        {% csrf_token %}
                        <input type="submit" value="Confirm">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}" crossorigin="anonymous"></script>

{% endblock %}
