{% extends 'base.html' %}
{% load static %}
{% block title %}Emloyee create{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3 text-center">
                    <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid" style="height: 50px">
                </div>
                <div class="col-12 mt-3 mb-3">
                    <a class="btn main_btn_white main_btn_back mr3" href="{% url 'index' %}">Main</a>
                </div>
                <div class="col-12 mb-3">
                    <div>First name: {{ object.first_name }}</div>
                    <div>Last name: {{ object.last_name }}</div>
                    <div>Email: {{ object.email }}</div>
                    <div>Hire date: {{ object.hire_date }}</div>
                     <div>Parent: {{ object.parent.first_name }} {{ object.parent.last_name }}</div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/jquery.min.js' %}" crossorigin="anonymous"></script>

{% endblock %}
