.main_background {
    background-color: #191970 !important;
}
.main_font {
    color: white;
}
.login_block {
    border: 2px solid #000080;
    background: white;
    color: #191970;
    border-radius: 10px;
    padding: 25px 45px;
}
.main_btn {
    background: #191970 !important;
    padding: 10px 50px !important;
    color: white !important;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main_btn_white {
    background: white !important;
    color: #191970 !important;
     transition: background-color 0.5s ease, box-shadow 0.5s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.main_btn:hover, .main_btn_white:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

input {
    color: #191970 !important;
}
.main_btn_back::before {
    content: '\2190';
    margin-right: 5px;
}
.step-links {
    padding: 15px;
    border-radius: 15px;
    background: white;
    color: #191970 !important;
}
.step-links a {
    text-decoration: none;
    color: #191970 !important;
    transition: 0.3s linear;
}
.step-links a:hover{
    cursor: pointer;
    color: #0000CD !important;
}
table {
    color: white !important;
}
table th {
    text-align: center;
}
.search-form {
    display: flex;
    align-items: center;
}

.search-input {
    flex: 1;
    margin-right: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    width: 100%;
    max-width: 200px;
}
.search-input {
    width: calc(100% - 215px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 10px;
}
.level-btn:hover {
    cursor: pointer;
}
select::-ms-expand {
    display: none;
}

select option {
    padding: 10px;
}

