{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Company{% endblock %}</title>
    <link href="{% static 'css/main.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'img/favicon.png' %}">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body class="main_background main_font">

{% block content %}
{% endblock %}

{% block script %}
{% endblock %}
<script src="{% static 'js/bootstrap.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.min.js' %}" crossorigin="anonymous"></script>

</body>
</html>
