{% extends 'base.html' %}
{% load static %}
{% block title %}Emloyees{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3 text-center">
                    <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid" style="height: 50px">
                </div>
                <div class="col-12 mt-3 mb-3">
                    <a class="btn main_btn_white main_btn_back mr3" href="{% url 'index' %}">Main</a>
                </div>
                <div class="col-12 mb-3">

                    <input type="text" id="search_input" placeholder="Search..." value="{{ search_query }}"
                           class="search-input">
                    <select id="sort_select">
                        <option value="first_name">First Name</option>
                        <option value="last_name">Last Name</option>
                        <option value="second_name">Second Name</option>
                        <option value="position">Position</option>
                        <option value="hire_date">Hire date</option>
                    </select>
                </div>
                <div class="col-12">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>Email</th>
                            <th>Position</th>
                            <th>Hire date</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody id="employee_data">
                        {% for employee in employee_list %}
                            <tr>
                                <td>
                                    <a href="{% url 'employee_details' employee.id %}">{{ start_index|add:forloop.counter }}</a>
                                </td>
                                <td>{{ employee.first_name }}</td>
                                <td>{{ employee.last_name }}</td>
                                <td>{{ employee.email }}</td>
                                <td>{{ employee.position }}</td>
                                <td>{{ employee.hire_date }}</td>
                                <td>
                                    <a href="{% url 'employee_edit' employee.id %}" class="btn btn-primary mb-2">Изменить</a>
                                    <a href="{% url 'employee_delete' employee.id %}" class="btn btn-danger">Удалить</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div class="pagination d-flex justify-content-center mt-3">
                    <span class="step-links">
                        {% if employee_list.has_previous %}
                            <a href="?page=1{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">&laquo; First</a>
                            <a href="?page=




                                    {{ employee_list.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">Previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ employee_list.number }} of {{ employee_list.paginator.num_pages }}.
                        </span>

                        {% if employee_list.has_next %}
                            <a href="?page=




                                    {{ employee_list.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">Next</a>
                            <a href="?page=




                                    {{ employee_list.paginator.num_pages }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}{% if request.GET.sort %}&sort={{ request.GET.sort }}{% endif %}">Last &raquo;</a>
                        {% endif %}
                    </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery.min.js' %}" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            function updateTable() {
                let searchQuery = $('#search_input').val();
                let sortBy = $('#sort_select').val();
                $.ajax({
                    url: "{% url 'employees_filter_sort' %}",
                    type: 'GET',
                    data: {
                        search_query: searchQuery,
                        sort_by: sortBy
                    },
                    success: function (response) {
                        $('.table-bordered tbody').empty();
                        $.each(response, function (index, employee) {
                            $('.table-bordered tbody').append(
                                '<tr>' +
                                '<td>' + employee.first_name + '</td>' +
                                '<td>' + employee.last_name + '</td>' +
                                '<td>' + employee.email + '</td>' +
                                '<td>' + employee.position + '</td>' +
                                '<td>' + employee.hire_date + '</td>' +
                                '</tr>'
                            );
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            }

            $('#search_input, #sort_select').on('change keyup', function () {
                updateTable();
            });
        });
    </script>
{% endblock %}
