{% extends 'base.html' %}
{% load static %}
{% block title %}Сотрудники{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 mt-3 text-center">
                    <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid" style="height: 50px">
                </div>
                <div class="col-12 mt-3 mb-3">
                    <a class="btn main_btn_white main_btn_back mr3" href="{% url 'index' %}">Main</a>
                </div>
                <div class="tree">
                    <ul>
                        {% for node in root_nodes %}
                            <li>{{ node.first_name }} {{ node.last_name }} ({{ node.position }})</li>
                            <li class="parent" data-id="{{ node.id }}" data-level="1">
                                <ol>
                                    {% for child in node.children.all %}
                                        <li data-id="{{ child.id }}">
                                            <div class="">
                                                {{ child.first_name }} {{ child.last_name }}
                                            </div>
                                            <div> Position: {{ child.position }}</div>
                                            <div> Hire date: {{ child.hire_date }}</div>
                                            <div class="level-btn" data-id="{{ child.id }}" data-level="2"> +</div>
                                        </li>
                                    {% endfor %}
                                </ol>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/jquery.min.js' %}" crossorigin="anonymous"></script>

    <script>
        $(document).ready(function () {
            const MAX_LEVEL = 7
            $('.level-btn').click(function () {
                var parentId = $(this).data('id');
                var parentLevel = $(this).data('level');
                loadChildNodes(parentId, parentLevel);
            });

            function loadChildNodes(parentId, parentLevel) {
                $.ajax({
                    url: "{% url 'employee_children' %}",
                    type: 'GET',
                    data: {'parent_id': parentId},
                    success: function (response) {
                        // Создание списка
                        var list = $('<ol></ol>');
                        $.each(response, function (index, child) {
                            console.log('here')
                            var listItem = $('<li data-id="' + child.id + '"></li>');
                            listItem.append('<div>' + child.first_name + ' ' + child.last_name + '</div>');
                            listItem.append('<div>Position: ' + child.position + '</div>');
                            listItem.append('<div>Hire date: ' + child.hire_date + '</div>');
                            if (parentLevel < MAX_LEVEL) {
                                listItem.append('<div class="level-btn" data-id="' + child.id + '" data-level="' + (parentLevel + 1) + '"> + </div>');
                            }
                            list.append(listItem);
                        });
                        console.log(list)
                        // Добавление списка к элементу с заданным parentId
                        $('li[data-id="' + parentId + '"]').append(list);
                        $('.level-btn').click(function () {
                            var parentId = $(this).data('id');
                            var parentLevel = $(this).data('level');
                            loadChildNodes(parentId, parentLevel);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.error('Error:', error);
                    }
                });
            }
        });


    </script>
{% endblock %}
