{% extends 'base.html' %}
{% load static %}
{% block title %}Main Page{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="container min-vh-100">
            <div class="row">
                <div class="col-12 text-center mb-2">
                    <img src="{% static 'img/logo.png' %}" alt="Logo" class="img-fluid">
                </div>
                <div class="col-12 text-center">
                    {% if user.is_authenticated %}
                        <a class="btn main_btn_white mr3" href="{% url 'logout' %}">Logout</a>
                        <a class="btn main_btn_white" href="{% url 'employee_tree' %}">View Employees Tree</a>
                        <a class="btn main_btn_white" href="{% url 'employees' %}">View Employee List</a>
                    {% else %}
                        <a class="btn main_btn_white" href="{% url 'login' %}">Login</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}